body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
}

a {
    color: rgb(68, 68, 68);
    text-decoration: none;
}

a:active {
    color: cornflowerblue;
}

a:visited {
    color: rgb(68, 68, 68);
}

a:hover {
    color: cornflowerblue;
}